:root {
    --mainColor: rgb(0, 255, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

section {
    padding: 2rem;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
    h2 {
        font-weight: 600;
        font-size: 30px;
    }
    &.white {
        color: #fff;
    }
}

.content {
    display: flex;
    justify-content: space-between;
    .w50 {
        display: flex;
        justify-content: center;
        img {
            width: 50%;
            height: auto;
        }
    }
}

.w50 {
    min-width: 50%;
}

img {
    max-width: 100%;
}