@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --verde: #51ff00;
    --clr: #00ade1;
    --mainColor: rgb(145, 255, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--verde);
    border-radius: 6px;
}

section {
    padding: 4rem;
    scroll-margin-top: 75px;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
    h2 {
        font-weight: 600;
        font-size: 30px;
    }
    &.white {
        color: #fff;
    }
}

.content {
    display: flex;
    justify-content: space-between;
    .w50 {
        display: flex;
        justify-content: center;
        img {
            width: 50%;
            height: auto;
        }
    }
}

.w50 {
    min-width: 50%;
}

img {
    max-width: 100%;
}
