// HEADER
.header {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
	&.sticky {
		background: transparent;
		padding: 20px 100px;
		box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(30px);
		ul li a {
			color: #fff;
		}
	}
	.cv {
		position: relative;
		background-color: #000;
		padding: 0.1rem 1.2rem;
		text-decoration: none;
		color: #fff;
		&::before {
			content: '';
			position: absolute;
			top: -2px;
			left: -2px;
			right: -2px;
			bottom: -2px;
			z-index: -1;
			background: linear-gradient(250deg,
					var(--verde),
					transparent,
					var(--verde));
			animation: aniLee 4.5s linear infinite;
		}
		&::after {
			content: '';
			position: absolute;
			top: -2px;
			left: -2px;
			right: -2px;
			bottom: -2px;
			z-index: -2;
			filter: blur(50px);
			background: linear-gradient(250deg,
					var(--verde),
					transparent,
					var(--verde));
			animation: aniLee 5s linear infinite;
		}

		&:hover {
			&::before {
				content: none;
				background: none;
				animation: none;
			}

			&::after {
				content: none;
				background: none;
				animation: none;
			}

			a {
				color: gray;
			}
		}

		&:active {
			transform: scale(.9);
		}
	}

	ul {
		position: relative;
		display: flex;
		list-style: none;

		li {
			position: relative;
			margin: 0.4rem;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #000;

			&:nth-child(1)::after,
			&:nth-child(1)::before {
				animation-delay: 0.4s;
			}

			&:nth-child(2)::after,
			&:nth-child(2)::before {
				animation-delay: 1.1s;
			}

			&:nth-child(3)::after,
			&:nth-child(3)::before {
				animation-delay: 0.8s;
			}

			&:nth-child(4)::after,
			&:nth-child(4)::before {
				animation-delay: 1.3s;
			}

			&:nth-child(5)::after,
			&:nth-child(5)::before {
				animation-delay: 0.2s;
			}

			@keyframes aniLee {

				0%,
				7.5%,
				18%,
				20%,
				50.1%,
				60%,
				65.1%,
				80%,
				90.1%,
				92%,
				97.3% {
					content: '';
					position: unset;
					top: unset;
					left: unset;
					right: unset;
					bottom: unset;
					z-index: unset;
					background: unset;
				}

				8%,
				18.1%,
				20.1%,
				30%,
				50%,
				60.1%,
				65%,
				80.1%,
				90%,
				92.1%,
				92.4%,
				100% {
					content: '';
					position: absolute;
					top: -2px;
					left: -2px;
					right: -2px;
					bottom: -2px;
					z-index: -1;
					background: linear-gradient(235deg,
							var(--verde),
							#010615,
							var(--verde));
				}
			}

			&::before {
				content: '';
				position: absolute;
				top: -2px;
				left: -2px;
				right: -2px;
				bottom: -2px;
				z-index: -1;
				background: linear-gradient(250deg,
						var(--verde),
						transparent,
						var(--verde));
				animation: aniLee 4.5s linear infinite;
			}

			&::after {
				content: '';
				position: absolute;
				top: -2px;
				left: -2px;
				right: -2px;
				bottom: -2px;
				z-index: -2;
				filter: blur(50px);
				background: linear-gradient(250deg,
						var(--verde),
						transparent,
						var(--verde));
				animation: aniLee 5s linear infinite;
			}

			a {
				width: 100%;
				position: relative;
				display: inline-block;
				color: #fff;
				text-decoration: none;
				font-size: 1.1rem;
				padding: 0.1rem 1.2rem;
			}

			&:hover {
				&::before {
					content: none;
					background: none;
					animation: none;
				}

				&::after {
					content: none;
					background: none;
					animation: none;
				}

				a {
					color: var(--verde);
				}
			}

			&:active {
				transform: scale(.9);
			}
		}
	}
}
// END OF HEADER

// MEDIA QUERIES
@media (max-width: 991px) {
	.header {
		padding: 20px 50px;
		z-index: 1000;
	
		ul {
			li {
				&::before {
					content: none;
					animation: none;
				}

				&::after {
					content: none;
					animation: none;
				}

				a {
					&:hover {
						color: unset;
					}
				}
			}
		}
	
		.toggle {
			width: 40px;
			height: 40px;
			background: url('../images/menu.png');
			background-position: center;
			background-repeat: no-repeat;
			background-size: 30px;
			cursor: pointer;

			&.active {
				width: 40px;
				height: 40px;
				background: url('../images/close.png');
				background-position: center;
				background-repeat: no-repeat;
				background-size: 25px;
				cursor: pointer;
			}
		}
	
		&.sticky {
			padding: 20px 50px;
			z-index: 1000;

			ul {
				li {
					a {
						color: unset;
					}
				}
			}
		}
	
		.menu {
			position: fixed;
			top: 75px;
			left: -100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: calc(100vh - 75px);
			width: 100%;
			background: #0c0c0c;
			transition: 0.5s;
			z-index: 999;
			border-top: 1px solid rgba(0, 0, 0, 0.2);

			li:nth-child(2) {
				--clr: #ff6493;
			}

			li:nth-child(3) {
				--clr: #ffdd1c;
			}

			li:nth-child(4) {
				--clr: #00dc82;
			}

			li:nth-child(5) {
				--clr: #dc00d4;
			}

			&.active {
				left: 0;
			}

			a {
				position: relative;
				color: #111;
				font-size: 4em;
				margin: 10px;
				letter-spacing: 0.1rem;
				text-transform: uppercase;
				font-size: 4rem;
				font-weight: 700;
				line-height: 1em;
				color: transparent;
				padding: 0;
				-webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);

				&:hover {
					&::before {
						width: 100%;
						filter: drop-shadow(0 0 25px var(--clr));
					}
				}

				&::before {
					content: attr(data-text);
					position: absolute;
					color: var(--clr);
					width: 0;
					overflow: hidden;
					border-right: 8px solid var(--clr);
					-webkit-text-stroke: 1px var(--clr);
					transition: 1s;
				}
			}
		}
	}
}

@media (max-width: 480px) {
	.header {
		padding: 20px 20px;

		&.sticky {
			padding: 20px 20px;

			ul {
				li {
					a {
						color: unset;
					}
				}
			}
		}

		.menu {
			a {
				font-size: 3rem;

				&:hover {
					color: unset;
				}
			}
		}
	}
}
// END OF MEDIA QUERIES